body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin: 50px 0;
  }
  
  h2 {
    font-size: 2.5em;
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 20px 0;
  }
  
  h3 {
    font-size: 1.5em;
  }
  
  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .about-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px #000000;
  }
  
  input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #45a049;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }

  .flush-border {
    border: 2px #000;
    max-width: 100%;
    height: auto;
  }

  .flush-border2 {
    width: 400px;
    height: 200px;
  }
/* CSS for GitHub link and logo */
  .github-link {
    text-align: center;
    margin: 20px 0;
  }
  .github-logo {
    width: 50px;
    height: 50px;
  }

  .github-logo2 {
    width: 100px;
    height: 100px;
  }

  .image-container img {
    border: 2px #000000;
    width: 33%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
  }
  
  
  /* Media queries */
  @media screen and (max-width: 600px) {
    nav {
      flex-direction: column;
    }
  
    nav li {
      margin: 10px 0;
    }
  }
/* CSS for GitHub link and logo */
.github-link {
  text-align: center;
  margin: 20px 0;
}
.github-logo {
  width: 50px;
  height: 50px;
}

/* For screens smaller than 768px (mobile devices) */
@media only screen and (max-width: 767px) {
  .image-container {
    display: block; /* Change to a vertical layout */
  }
  .image-container img {
    width: 100%; /* Make images full width */
    margin: 0 auto; /* Center images */
  }
}
