/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin: 50px 0;
  }
  
  h2 {
    font-size: 2.5em;
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 20px 0;
  }
  
  h3 {
    font-size: 1.5em;
  }
  
  /* Styles for About section */
  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .about-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  /* Styles for Contact section */
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Styles for footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }

  .flush-border {
    border: 2px solid #000; /* You can adjust the border width and color as needed */
    max-width: 100%; /* Set the maximum width to 100% of its parent container */
    height: auto; /* Allow the height to adjust automatically based on the aspect ratio of the image */
  }
  
  /* Media queries */
  @media screen and (max-width: 600px) {
    nav {
      flex-direction: column;
    }
  
    nav li {
      margin: 10px 0;
    }
  }